.chat-box {
  width: 50%;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin: auto;
  overflow-y: scroll;
  max-height: 80vh;
  margin-bottom: 10px;
}

.input-text {
  display: flex;
  width: 50%;
  align-self: center;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

.input-base {
  width: 90%;
}

.from-bubble {
  position: relative;
  border-radius: .4em;
  background-color: lightgrey;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: black;
}

.from-bubble-active {
  position: relative;
  border-radius: .4em;
  background-color: #c12c27;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: white;
}

.messages {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.messages-active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}