.chat-box {
  width: 50%;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin: auto;

}

.input-text {
  display: flex;
  max-width: 50%;
  width: 40%;
  align-self: center;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  background-color: lightgrey;
}

.from-bubble {
  position: relative;
  border-radius: .4em;
  background-color: lightgrey;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: white;
}

.from-bubble-active {
  position: relative;
  border-radius: .4em;
  background-color: #c12c27;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: white;
}

.from-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.656em solid transparent;
  border-left-color: #c12c27;
  border-right: 0;
  border-bottom: 0;
  margin-top: 0.5em;
  margin-right: -0.656em;
}

.messages {
  display: flex;
  justify-content: center;
}