/* 
=========================
Profile General
=========================
*/

.profile .container {
	display: grid;
	grid-template-columns: 200px 4fr 3fr;
	grid-gap: 20px;
}


/* 
=========================
Profile Navigation
=========================
*/

.profile .nav-bar {
	color: black;
}

/*
=========================
Profile Info Section
=========================
*/

.profile {
  --card-width: 350px;
}

.profile-information {
	padding: 20px;
}

.profile .profile-card {
  max-width: var(--card-width);
}

/* 
=========================
Profile Card
=========================
*/

.profile-card .profile-avatar {
  width: calc(var(--card-width) / 4);
  height: calc(var(--card-width) / 4);
  margin: 20px auto;
}

.profile-card h3 {
	font-size: 1.75em;
	text-transform: capitalize
}

.profile-card h5 {
  font-size: 1.25em;
}

.profile-card .profile-card-descript p {
	font-size: 1em;
}

.profile-card .card-section {
	padding: 0.25em 0;
}

.profile-card .section-name h4 {
	margin-bottom: 0;
}

.profile-card .section-content {
	margin-left: 1em;
}

.profile-card .profile-info-title {
  /* display: block; */
  font-weight: bold;
}

.profile-card .profile-card-info {
  font-size: 0.8em;
  color: #bbb;
}

.profile-card .edit-profile-card-info {
	margin-top: 6px;
	text-transform: lowercase;
	justify-content: center;
}


/* 
=========================
Portfolio Filter
=========================
*/

.profile .portfolio-filter {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	width: 100%;
	margin-bottom: 20px;
	/* border: 1px solid black; */
}

.portfolio-filter button {
	border-radius: 0px;
	border: 1px solid black;
}

/*
=========================
Profile Social Integrations
=========================
*/

.social-integrations .social-integrations-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.social-integrations .social-integrations-label {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-integrations .social-integrations-icon {
	width: 25px;
	height: 25px;
}

.social-integrations .social-integrations-text {
	margin-left: 1em;
	margin-bottom: 0;
	font-size: 1em;
}