/*
=========================
Profile Edit
=========================
*/


.profile-edit.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;

  /* temporary */
  margin: 50px auto;
}

.profile-edit .dashboard-menu {
  padding: 20px;
}